@font-face {
    font-family: Fontes;
    src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  }
  .wrappercont{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  .wrapperseg{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
  }
  .square{
    height: 96px;
    width: 96px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFA8AE;
    opacity: 1;
    cursor: pointer;
    transition: transform 1000ms ease-in-out;
}
#texto{
    font-family: Fontes;
    font-size:16px;
    color:#FA658E;
}
.texto{
    font-family: Fontes;
    font-size:16px;
    color:#FA658E;
}
.textohoriz{
    -webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#texto.textosome{
    -webkit-animation: text-blur-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-blur-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.quadradoexpansivel{
   transform: scaleX(4);
}
.quadradocompleto{
  transform:scale(4,2);
}
.quadradoretorno{
  transform: scaleX(2);
}
.quadradoretornoy{
  transform: scale(4,2);
}
.quadradosome{
  -webkit-animation: fade-out 4s ease-out both;
	        animation: fade-out 4s ease-out both;
}
.quadradodesce{
  transform:translate(0px,120px);
}
.quadradosobe{
  transform:translate(0px,0px);
}
.quadradopadrao{
    height: 96px;
    width: 96px;
    background-color: #FFA8AE;
    opacity: 1;
    cursor: pointer;
    animation-name: reaparecer;
    animation-duration: 1s;
}
@keyframes reaparecer{
  0%{
    opacity:0;
  }25%{
    opacity:0.25;
  }50%{
    opacity:0.5;
  }75%{
    opacity:0.75;
  }100%{
    opacity:1;
  }
}
.desc{
    font-family: Fontes;
}

@-webkit-keyframes fade-out-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
  }
  @keyframes fade-out-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
  }

@-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

 /* ----------------------------------------------
 * Generated by Animista on 2020-7-6 18:8:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-7 14:4:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
